main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

header {
    width: 100vw;
    padding: 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

li {
    padding: 10px;
}

.lil-window {
    box-shadow: 2px 3px;
    height: 500px;
    width: 500px;
    background-color: rgba(236, 233, 233, 0.693);
    border: 1px solid black;
    position: absolute;
    top: 25vh;
    left: 25vw;
}

.lil-window h2 {
    font-size: 30px;
}

.lil-window:hover, 
.close:hover, 
.minimize:hover, 
.full-screen:hover,
.folder:hover {
    scale: 1.01;
    cursor: pointer;
}

.ctrl-buttons {
    display: flex;
    justify-content: flex-end;
    border-bottom: 0.5px solid black;
    height: 5%;
}

.info {
    height: 90%;
    padding: 10px;
    border: 10px solid rgb(236, 233, 233);
    background-color: rgba(228, 222, 222, 0.649);
}

footer {
    box-sizing: border-box;
    width: 100vw;
    height: 80px;
    background-color: rgba(35, 88, 246, 0.471);
    position: fixed;
    bottom: 0px;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer h1 {
    background-color: green;
    border-radius: 10%;
    padding: 10px;
}

.footer-app-name {
    background-color: rgb(23, 77, 148);
    border-radius: 10%;
    padding: 10px;
}

#footer-align-left {
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer-align-left * {
    margin: 10px;
}

body {
    background-image: url("images/greenhills.jpg");
    background-size: cover;
    /* background-color: rgb(208, 232, 169); */
    font-family: "Quicksand", sans-serif;
    /* font-family: "Bitcount Grid Single", system-ui; */
    margin: 0px;
}

.folder {
    /* margin: 20px 20px; */
    width: 150px;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;
}

figure img {
    width: 100px;
}

figcaption {
    /* text-align: center; */
    color: rgb(255, 255, 255);
    font-size: 15px;
}

#websites-window {
    overflow: scroll;
}

#websites-window p {
    font-size: 15px;
}

.website-info {
    padding: 10px;
}

#websites-window a, #websites-window a:visited {
    color: black;
}

#websites-window .website-info:hover {
    background-color: lightyellow;
}

#photography-folder-icon, #bookbinding-folder-icon {
    scale: 1.5;
}

#photography-window {
    overflow: scroll;
}

#photography-window img {
    display: block;
    width: 60%;
    padding: 10px;
}