body {
    font-family: monospace;
}

#my-name {
    font-size: 30px;
}

.full-page {
    display: flex;
    height: 80vw;
}

.full-page > header {
    width: 20vw;
    position: fixed;
    font-size: 20px;
    margin-left: 10px;
}

nav ul {
    width: 70vw;
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding-left: 0;
    flex-direction: column;
}

#h1-index-page {
    font-size: 32px;
    text-align: left;
    position: static;
    background-color: rgba(255, 255, 255, 0);
}

#welcome-section {
    margin-bottom: 40px;
}

#reading-now > div {
    display: flex;
    justify-content: space-between;
}

#reading-now > div > div {
    width: 45%;
}

#reading-next {
    padding: 20px;
}

h1 {
    font-size: 16px;
    text-align: right;
    position: fixed;
    right: 0px;
    background-color: white;
}

.page-description {
    position: relative;
    top: 50px;
}

.full-page > main {
    width: 80vw;
    margin-left: 35vw;
    margin-right: 10px;
}

footer {
    position: fixed;
    bottom: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover, .popup button:hover {
    color: #c61ea2;
}

.popup button:hover {
    scale: 1.1;
}

.current-page-link {
    color: rgb(46, 133, 255);
    font-weight: bold;
}

img {
    width: 30vw;
    max-width: 350px;
    display: block;
}

figure {
    margin: 0px;
}

figure:hover {
    scale: 1.03;
}

figcaption {
    display: none;
}

.gallery {
    display: grid;
    grid-auto-rows: 30vh;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    grid-gap: 30px;
}

#professional-experience {
    list-style-type: none;
}

.job-title {
    font-weight: bold;
    margin: 20px 0px;
}

/* styling for popup modals for full image details */
.popup {
    box-sizing: border-box;
    width: 60vw;
    padding: 30px;
    background-color: rgba(119, 136, 153, 0.9);
    position: fixed;
    top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.popup img {
    width: 90%;
    max-width: none;
    margin: auto;
}

.popup p {
    text-align: center;
    font-size: 20px;
}

.popup button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    display: block;
    width: 100px;
    margin: auto;
    font-size: 30px;
}
