:root {
    --main-font: "Lexend", sans-serif;
}

body {
    font-family: var(--main-font);
    background-color: rgb(225, 222, 222);
    margin: 0;
}

#my-name {
    font-size: 30px;
    font-weight: bold;
}

.full-page {
    display: flex;
    height: 80vw;
    margin: 20px;
}

.full-page > header {
    width: 20vw;
    position: fixed;
    font-size: 20px;
    margin-left: 10px;
}

nav ul {
    width: 70vw;
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding-left: 0;
    flex-direction: column;
}

nav li {
    padding-top: 10px;
}

#h1-index-page {
    font-size: 32px;
    text-align: left;
    position: static;
    background-color: rgba(255, 255, 255, 0);
}

#welcome-section {
    margin-bottom: 40px;
}

#reading-now > div {
    display: flex;
    justify-content: space-between;
}

#reading-now > div > div {
    width: 45%;
}

#reading-next {
    padding: 20px;
}

h1 {
    font-size: 16px;
    text-align: right;
    position: fixed;
    right: 0px;
    background-color: white;
}

.page-description {
    position: relative;
    top: 50px;
}

.full-page > main {
    width: 80vw;
    margin-left: 35vw;
    margin-right: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    margin: 20px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover, .popup button:hover {
    background-color: rgb(244, 244, 104);
}

.popup button:hover {
    color: black;
}

/* .popup button:hover {
    scale: 1.1;
} */

/* .current-page-link {
    color: rgb(46, 133, 255);
    font-weight: bold;
} */

img {
    /* width: 30vw;
    max-width: 350px; */
    /* height: 50vh; */
    /* max-height: 500px; */
    /* width: 100%; */
    width: 100%;
    display: block;
}

figure {
    margin: 0px;
}

figure:hover {
    scale: 1.03;
}

figcaption {
    display: none;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-content: center;
    grid-gap: 30px;
}

#professional-experience {
    list-style-type: none;
}

.job-title {
    font-weight: bold;
    margin: 20px 0px;
}

/* styling for popup modals for full image details */
.popup {
    box-sizing: border-box;
    width: 98vw;
    height: 98vh;
    padding: 30px;
    background-color: rgba(23, 27, 30, 0.9);
    position: fixed;
    top: 1vh;
    left: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.popup img {
    max-height: 600px;
    width: auto;
    margin: auto;
}

.popup p {
    /* text-align: center;
    font-size: 20px; */
    display: none;
}

.popup button {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: none;
    display: block;
    width: 100px;
    margin: auto;
    font-size: 30px;
}

/* switch gallery view to 2 columns for viewport sizes under 1000px */
@media (max-width: 1000px) {
    .gallery {
        grid-template-columns: 1fr 1fr;
    }
}